<div class="page-header">
	<h1>Advanced Lifting Techniques</h1>
</div>

<div class="col-xs-12">
	<p>Once you have a solid strength and muscle base built up, you're going to have to start exploring more advanced muscle-building techniques. A respectable base would be, for 1 repetition:</p>

	<p>Bench: bodyweight * 1.5 <br>
		Deadlift: bodyweight * 2 <br>
		Squat: bodyweight * 1.6</p>

	<p>I was following <a href="http://stronglifts.com/madcow/5x5_Program/Linear_5x5.htm" target="_blank">Bill Starr's famous 5x5 routine</a>, a novice routine, for a while and worked past these numbers fairly easily. I promise you that you do not need to do anything other than the basic, heavy, compound barbell movements with a linear progression until you get to roughly these numbers, or even beyond. Let that carry you as long as you can! Once you're there and strength gains really slow down for you, try working the following techniques into your routine.</p>

	<h3>Reverse Pyramid Training</h3>

	<p>I cannot recommend this strategy enough. I already outlined the strategy in <a href="javascript:void(0)" onclick="loadTemplate('workout-routine-3')">Building A Workout Routine Part 3</a>.</p>

	<p>The summary is this... each main compound exercise has two working sets. The first working set is an all-out effort, choosing a weight you think will get you to the prescribed rep range. The second set is 10% less weight, exactly one rep more than you completed in your first set. <em>That's it</em>.</p>

	<p>Try it for a while, even if it's just for one compound exercise if you're skeptical, and watch the strength gains roll in. I have sucessfully made steady strength gains with RPT <em>while losing 2 pounds per week on a cut</em>.</p>

	<h3>Rest Pause Training</h3>

	<p>This method is all about muscle fiber recruitment. The reason lifting heavy weight for low reps with your main compound lifts is so effective is that this heavy lifting recruits more muscle fibers-in short, it takes a larger percentage of your muscle to get the "work" of lifting the weights done. More muscle fiber recruitment, more strength and muscle gains!</p>

	<p>However, we don't want to go with really heavy weight for more concentrated lifts like concentrated dumbbell curls, flyes, skullcrushers, etc because we can't safely put that much weight on the few tendons and joints that support these exercises. Rest pause training is a way to work around this and get more muscle fiber recruitment anyway!</p>

	<p>When working in higher rep ranges (and therefore lighter weight), we don't hit full muscle fiber recruitment until the 12-15 rep range (think about it... when you're doing sets of 15 curls, the first 5 are pretty easy, right?). Getting to that 12-15 range initially engages all those muscle fibers. <strong>That's step 1-do an initial engaging set of 12-15 reps</strong>.</p>

	<p>Your muscle fibers will stay engaged for 30-45 seconds. So, the key here is to then wait roughly 15-20 seconds and do another set of 4-5 reps. Your muscles will get the same benefit from this as they would if you managed to do those 4-5 reps once all the fibers were recruited from the initial set of 12-15! Repeat this pattern 3 more times and you accomplish a whole lot of work in very little time.</p>

	<p>Here's a summary of the technique:</p>

	<p>Do an engaging set of 12-15 reps <br>
		(wait 15-20 seconds) <br>
		Do a set of 4-5 reps <br>
		(wait 15-20 seconds) <br>
		Do a set of 4-5 reps <br>
		(wait 15-20 seconds) <br>
		Do a final set of 4-5 reps</p>

	<p>Your muscles will get a lot more out of this than just doing 3-4 sets of 12-15 reps. Use the same weight for all sets-a weight you can comfortably do 12-15 reps in.</p>

	<h3>Drop Sets</h3>

	<p>Similar to rest pause training, drop sets are implemented by tacking on a little extra work at the end of a set. I typically only do this at the end of my last set for an exercise. Simply wait roughly 15 seconds after your last set (again staying within that window of muscle fiber engagement) and then do another set with roughly 15% less weight (the exact amount of weight isn't important) and continue to failure.</p>

	<br>

	<p>You can read more about these last two techniques <a href="http://www.bodybuilding.com/fun/rest_pause_training_methods.htm" target="_blank">here</a>.</p>


</div>