<div class="page-header">
	<h1>Advanced Dieting Techniques</h1>
</div>

<div class="col-xs-12">
	<h3>Calorie Cycling</h3>

	<p>Some people prefer to cycle calories. This is a technique you can apply when bulking or cutting. Remember that when trying to lose weight, it's really the <em>weekly</em> calorie count that matters, not the daily calorie count. The idea is to consumer more calories on lifting days, and less calories on off days.</p>

	<p>If you're cutting, as long as you maintain a healthy deficit for the week, you can cycle calories however you feel comfortable. Eating higher calories on lifting days will make it easier to preserve, and maybe even gain, muscle and strength. However, this will cause your off days to have pretty low calorie targets, so spread out the calories however you're most comfortable.</p>

	<p>If you're bulking, cycling calories is strongly advised to minimize fat gain. On lifting days, you should be eating in a slight surplus to promote strength and muscle growth. You definitely do not need to be eating in a caloric surplus on your off days, which leads to calorie cycling.</p>

	<br>

	<h3>Carbohydrate Cycling</h3>

	<p>The same strategy can be applied to carbohydrates. Carbohydrates are important for lifting days because they help your muscles recover better, leading to strength and muscle gains. You can incorporate more carbohydrates into your diet on lifting days both by cycling calories (have carbohydrates make up most, if not all, of the extra calories on lifting days) and by lowering fats on lifting days to make more room in your diet. Some people even go as far as high carbohydrates on taxing days (usually legs), medium carbohydrates on other lifting days and low/no carbohydrates. It's really up to you to experiment with different quantities and figure out your preferences-just remember it's the overall average intake that matters.</p>

	<br>
	
	<h3>Intermittent Fasting</h3>

	<p>Some people find an intermittent fasting protocol helps them stick to their low-calorie diets more easily. The main idea is that you consume all of your calories for the day in an 8 hour window, typically about noon-8pm. A lot of people find they simply don't get hungry in the morning. You can read more about how to get started <a href="http://www.leangains.com/2010/04/leangains-guide.html" target="_blank">here</a>, and read about why a lot of the myths regarding fasting, skipping breakfast, etc aren't true <a href="http://www.leangains.com/2010/10/top-ten-fasting-myths-debunked.html" target="_blank">here</a>.</p>
	
</div>