<div class="page-header">
	<h1>Advanced Lifting Techniques</h1>
</div>

<div class="col-xs-12">
	<p>The reality is that you're going to end up stalling on your lifts at some point. There are numerous techniques you can apply to various exercises to try and break through plateaus. Here are some of my favorites:</p>

	<h3>Reverse Pyramid Training</h3>

	<p>Instead of the traditional "pyramid" outline, where you start light and ramp up to your heavy working sets, start with your heavy sets first. Just make sure you warm up first-you don't want to jump straight into very heavy weights or you risk injury. For warmup, 2 sets of 40-80% of your first working set will do it. Feel free to add a third if you'd like. So, a full progression might look like this:</p>

	<ul>
		<li>Warmup set 1: 10x135</li>
		<li>Warmup set 2: 185x3</li>
		<li>First working set: 225x5</li>
		<li>Second working set: 195x8</li>
		<li>Third working set: 175x10-12</li>
	</ul>

	<p>Don't get hung up on the exact weight, sets or reps of the warmup sets-it's simply important to get your muscles ready for the heavy load you're about to put on them.</p>

	<h3>Rest Pause Training</h3>

	<p>This method is all about muscle fiber recruitment. The reason lifting heavy weight for low reps with your main compound lifts is so effective is that this heavy lifting recruits more muscle fibers-in short, it takes a larger percentage of your muscle to get the "work" of lifting the weights done. More muscle fiber recruitment, more strength and muscle gains!</p>

	<p>However, we don't want to go with really heavy weight for more concentrated lifts like concentrated dumbbell curls, flyes, skullcrushers, etc because we can't safely put that much weight on the few tendons and joints that support these exercises. Rest pause training is a way to work around this and get more muscle fiber recruitment anyway!</p>

	<p>When working in higher rep ranges (and therefore lighter weight), we don't hit full muscle fiber recruitment until the last few reps(think about it... when you're doing sets of 15 curls, the first 5 are pretty easy, right?). Getting to that 12-15 range initially engages all those muscle fibers. <strong>That's step 1-do an initial engaging set of 12-15 reps</strong>.</p>

	<p>Your muscle fibers will stay engaged for 30-45 seconds. So, the key here is to then wait roughly 15-20 seconds and do another set of 4-5 reps. Your muscles will get the same benefit from this as they would if you managed to do those 4-5 reps once all the fibers were recruited from the initial set of 12-15! Repeat this pattern 3 more times and you accomplish a whole lot of work in very little time.</p>

	<p>Here's a summary of the technique:</p>

	<p>Do an engaging set of 12-15 reps <br>
		(wait 15-20 seconds) <br>
		Do a set of 4-5 reps <br>
		(wait 15-20 seconds) <br>
		Do a set of 4-5 reps <br>
		(wait 15-20 seconds) <br>
		Do a final set of 4-5 reps</p>

	<p>Your muscles will get a lot more out of this than just doing 3-4 sets of 12-15 reps. Use the same weight for all sets-a weight you can comfortably do 12-15 reps in.</p>

	<h3>Drop Sets</h3>

	<p>Similar to rest pause training, drop sets are implemented by tacking on a little extra work at the end of a set. I typically only do this at the end of my last set for an exercise. Simply wait roughly 15 seconds after your last set (again staying within that window of muscle fiber engagement) and then do another set with roughly 15% less weight (the exact amount of weight isn't important) and continue to failure.</p>

	<br>

	<p>You can read more about these last two techniques <a href="http://www.bodybuilding.com/fun/rest_pause_training_methods.htm" target="_blank">here</a>.</p>

	<h3>Paused Reps</h3>

	<p>This method is exactly what it sounds like! You simply pause for a 1-2 count at the stretch portion of each rep. For example, for bench press, you would pause at the <em>bottom</em> of each rep and really feel the stretching in your chest.</p>


</div>