<div class="page-header">
	<h1>Breaking Plateaus</h1>
</div>
		
<div class="col-xs-12">
	<h3>Dieting</h3>

	<p>First and foremost, even if you think you've hit a diet plateau, you probably haven't. In general, weight fluctuates from day to day due to a variety of reasons, such as water retention, glycogen levels and bloating. None of these things mean you're gaining fat, so always take the scale reading with a grain of salt. Additionally, the scale should <em>never</em> be the only way you track progress, no matter your goals. </p>

	<p> If you've been consistently losing weight and then all of a sudden stall at the same weight for a few days, don't panic. Chances are you're still burning fat and the stall is due to some non-fat related factor. For example, a sudden increase in carbohydrates or sodium will cause your body to retain a lot of water and glycogen, causing your weight to remain constant or even increase! You can read more about the stall-whoosh effect <a href="http://www.bodyrecomposition.com/fat-loss/of-whooshes-and-squishy-fat.html" target="_blank">here</a>.</p>

	<p>Here are the steps to get over your weight loss plateau:</p>

	<ol>

		<li>Take a look at variables that might have changed for you recently. Things like extra stress or trouble sleeping can easily affect weight loss results.</li>

		<li><a href="http://www.leangains.com/2010/01/how-to-deal-with-water-retention-part_28.html" target="_blank">Try to force the "whoosh" effect</a>.</li>

		<li>Wait it out. Unfortunately, patience is the hardest part about dieting for weight loss. Everyone wants to get lean <em>now</em>, but it's a journey. Weight loss is far from linear.</li>

		<li>If you wait <em>at least 2 weeks</em>, and have tried the other above suggestions, and your weight loss is still stalled, <em>then</em> you can try reducing calories by an average of 150-200 per day and see where that gets you. Take the calories from carbohydrates and fats-spare the protein!</li>

	</ol>

	<h3>Training</h3>

	<p>Training plateaus are a little trickier to solve, but a lot easier to identify. If you find yourself not lifting any more weight week after week, try one of the following techniques:</p>

	<ol>

		<li>Temporarily modify your rep range. If you're following a Reverse Pyramid Training protocol as I suggest, you'll be in the 4-6 rep range for your core lifts. As mentioned in my other post, the 4-8 range is really the sweet spot for building muscle and strength. If you're stuck at 5 reps for a few weeks on a lift, for example, drop the weight a bit and shoot for the 6-8 rep range. It's going to be relatively easier to move up one rep at 215 pounds than it will at 225 pounds because it requires less overall extra force. When you get to 8 reps at this weight, increase the weight and repeat. You'll eventually drop down to the 5-7 rep range, or even back to the 4-6 rep range, this time lifting more weight than before.</li>

		<li>If you're following my Reverse Pyramid Training protocol, you'll be dropping weight by 10% for your second set. Sometimes you can't get exactly 10%. For example, if I'm lifting 230 pounds, my choices are really to go down by 20 pounds or 25 pounds for my second set. I always opt for the lighter choice at first, so dropping by 25 pounds. If I stall at 230 pounds for a few weeks, I'll switch to dropping by 20 pounds for my second set, thus increasing my overall work output. This often gives me the edge I need to make progress on my first set again.</li>

		<li>Try swapping out a similar exercise for the exercise you're stalling on. For example, if you're stalling on bench, try doing dumbbell bench for a month or so, make as much progress on that as you can, and then switch back to regular bench. This <em>does not</em> mean you can swap exercises left and right as you feel like it-that will make it really hard to track progress, or even make progress to begin with. We still need everything to be methodical.</li>

	</ol>

</div>