<div class="page-header">
	<h1>Breaking Plateaus</h1>
</div>
		
<div class="col-xs-12">
	<h3>Dieting</h3>

	<p>First and foremost, even if you think you've hit a diet plateau, you probably haven't. In general, weight fluctuates from day to day due to a variety of reasons, such as water retention, glycogen levels, bloating and sodium intake. None of these things mean you're gaining fat, so always take the scale reading with a grain of salt. Additionally, the scale should <em>never</em> be the only way you track progress, no matter your goals. </p>

	<p> If you've been consistently losing weight and then all of a sudden stall at the same weight for a few days, don't panic. Chances are you're still burning fat and the stall is due to some non-fat related factor. For example, a sudden increase in carbohydrates or sodium will cause your body to retain a lot of water and glycogen, causing your weight to remain constant or even increase! You can read more about the stall-whoosh effect <a href="http://www.bodyrecomposition.com/fat-loss/of-whooshes-and-squishy-fat.html" target="_blank">here</a>.</p>

	<p>Here are the steps to get over your weight loss plateau:</p>

	<ol>

		<li>Take a look at variables that might have changed for you recently. Things like extra stress or trouble sleeping can easily affect weight loss results.</li>

		<li><a href="http://www.leangains.com/2010/01/how-to-deal-with-water-retention-part_28.html" target="_blank">Try to force the "whoosh" effect</a>.</li>

		<li>Wait it out. Unfortunately, patience is the hardest part about dieting for weight loss. Everyone wants to get lean <em>now</em>, but it's a journey. Weight loss is far from linear.</li>

		<li>If you wait <em>at least 2 weeks</em>, and have tried the other above suggestions, and your weight loss is still stalled, <em>then</em> you can try reducing calories by an average of 150-200 per day and see where that gets you. Take the calories from carbohydrates and fats-spare the protein!</li>

	</ol>

	<h3>Training</h3>

	<p>Training plateaus are a little trickier to solve, but a lot easier to identify. If you find yourself not lifting any more weight week after week, try one of the following techniques:</p>

	<ol>

		<li>Try a different rep range. If you usually do three working sets of 6-8 of an exercise and you stall, try reducing weight a bit and working in the 8-10 range for a few weeks.</li>

		<li>Increase your work output. Adding weight to the bar is one way to increase your work output, but there are a few others: adding sets, completing more reps (if you normally do 3x8, work towards 3x9) and shortening rest times. You can read more about work output <a href="http://rippedbody.jp/intermediate-training-greg-nuckols/" target="_blank">here</a>.</li>

		<li>Try swapping out a similar exercise for the exercise you're stalling on. For example, if you're stalling on bench, try doing dumbbell bench for a month or so, make as much progress on that as you can, and then switch back to regular bench. This <em>does not</em> mean you can swap exercises left and right as you feel like it-that will make it really hard to track progress, or even make progress to begin with. We still need everything to be methodical.</li>

		<li>Try applying any of my <a href="javascript:void(0)" onclick="loadTemplate('advanced-lifting.html')">advanced lifting techniques</a>.</li>

	</ol>

</div>