<div class="page-header">
	<h1>Should I Do Cardio?</h1>
</div>

<div class="col-xs-12">

	<h3>Cutting</h3>

	<p>I recommend some consistent, <em>very</em> low-intensity cardio <strong>on off days only</strong>. When you're in a calorie deficit, your body has a hard enough time recovering from lifting sessions, let alone lifting sessions and grueling cardio sessions (even if they're not on the same day!). Intense cardio sessions will only make you hungrier, reduce diet adherence and make it harder for your body to recover from training. </p>

	<br>

	<p>That being said, I like to do some low intensity walking or elliptical work on my off days. If I'm just plain walking, I'll walk for around an hour. If you don't want to spend a full hour, you can alternate between walking and light jogging for closer to half an hour. You can also play a sport, swim some laps or go for a hike for an hour instead! There are lots of possibilities here. Think of this as just staying active-<a href="http://fitness.mercola.com/sites/fitness/archive/2015/09/11/daily-walk-benefits.aspx" target="_blank">it's good for you</a>.</p>

	<br>

	<p>The goal isn't to try and burn fat or run yourself into the ground, but rather stay active and get a slight edge on your calorie deficit. Walking for an hour gives me more wiggle room with my diet, making it easier to adhere to. You could limit yourself to 1600 calories per day instead, but who wants to do that?</p>

	<br>

	<h3>Bulking</h3>
  
	<p>Cardio isn't necessary when bulking, especially if you're following my guide and implementing a day or two of calorie deficit. However, if you're really concerned about not gaining fat during your bulk, you can do an HIIT session or two on maintenance days. I still wouldn't advise cardio on lifting days-let your body focus on the training and growing muscle! If you'd rather do low intensity cardio, feel free-just be careful not to overdo it.</p> 

	<p>You can read more about high intensity interval training <a href="http://www.shape.com/fitness/workouts/8-benefits-high-intensity-interval-training-hiit" target="_blank">here</a>.</p>

</div>