<div class="page-header">
	<h1>Should I Do Cardio?</h1>
</div>

<div class="col-xs-12">

	<h3>LISS - Low Intensity Steady-State Cardio</h3>

	<p>Low intensity cardio is one of the main two forms cardio in a training program. Thinkk of LISS as light activity that gets your body moving. The goal isn't to try and burn fat or run yourself into the ground, but rather stay active and get some extra calorie burn. There are a lot of options when it comes to LISS, such as:</p>

	<ul>
		<li>Going for a walk</li>
		<li>Swimming laps</li>
		<li>Hiking</li>
		<li>Playing a pick up game of your favorite sport with friends</li>
		<li>Riding your bike around the neighborhood</li>
		<li>Low levels on cardio machines: treadmill, elliptical, etc</li>
	</ul>

	<p>There are lots of possibilities here. Think of this as just staying active-<a href="http://fitness.mercola.com/sites/fitness/archive/2015/09/11/daily-walk-benefits.aspx" target="_blank">it's good for you</a>.</p>

	<h3>HIIT - High Intensity Interval Training</h3>

	<p>The premise of HIIT is to work at 100% of your potential for a short period of time, accomplishing a lot of work all while burning fat. Since you can't give 100% for very long durations, typically maximum effort periods are cycled with rest periods. A simple example would be to sprint as hard as you can for 20-30 seconds, and then do a light jog for 1-1.5 minutes to rest, repeating this cycle for 15-20 minutes total. HIIT can really be done with any form of cardio-running, biking, cardio machines, battling ropes, tire flipping-you name it! You can read more about high intensity interval training <a href="http://www.shape.com/fitness/workouts/8-benefits-high-intensity-interval-training-hiit" target="_blank">here</a>.</p>

	<h3>Cutting</h3>

	<p>For cutting, I prefer LISS. Your body has a hard enough time recovering from weightlifting sessions while on a calorie deficit. Adding intense cardio sessions will only make it worse. That being said, if you really need to cut weight fast, you might need to throw some HIIT in there as well. LISS gives me more wiggle room with my diet, making it easier to adhere to. You could limit yourself to 1600 calories per day instead, but who wants to do that?</p>

	<br>

	<h3>Bulking</h3>
  
	<p>Cardio isn't necessary when bulking if you keep your nutrition in check. However, if you're really concerned about not gaining fat during your bulk, you can do an HIIT session or two per week. If you'd rather do low intensity cardio, feel free-just be careful not to overdo it as long, frequent LISS sessions can cause catabolism (re: muslce loss).</p> 

</div>