<div class="page-header">
	<h1>About Me</h1>
</div>

<div class="col-xs-12">
	<p>I've been interested in training strategies and the science behind them for years now. I wanted to find a way to achieve a desirable level of muscle and fitness, but without having it take over my life. Sure, I could <a href="http://www.bodybuilding.com/fun/dwayne-johnson-rock-hard-hercules-workout-and-diet-plan.html" target="_blank">work out like The Rock</a>, spending hours at the gym and eating thousands of calories worth of chicken and rice each day, but this isn't desirable. I wanted it to look effortless. I wanted to fit fitness into my lifestyle, not have my lifestyle revolve around fitness.</p>

	<br>

	<p>I've spent countless hours pouring over fitness and nutrition articles. The problem is, there are so many opinions out there, I struggled to find something that worked for me. If you're like me, you've looked up workout tips and strategies online and tried a whole lot of them yourself without many, if any, results. <em>And that's frustrating</em>.</p>

	<br>

	<p>I feel as though I've finally narrowed down the strategies that <em>really work</em>. I've taken them all and compiled them here into a one-stop, end-all guide to achieving your health and fitness goals. I wanted to take all that research and training I did, bottle it up and provide it to the masses in one concise guide.</p>

	<br><br>
  
	<p>Hope you enjoy, and I can't wait to hear the success stories.</p> 

	<p>-Chris Levine</p>

</div>