<div class="page-header">
	<h1>Letter To My Readers</h1>
</div>

<div class="col-xs-12">
	<p>I've always been the kind of person who wants to be among the elite, no matter the category. When it comes to fitness, this means not only strength and muscle development, but a low level of leanness as well, leading to a <strong>desirable and admirable physique</strong>.</p>

  <br>

  <p>If you're like me, you've tried crash diets, spending hours per day lifting weights and running sprints and simply a whole lot of both training and nutrition programs that simply don't work. <em>It's frustrating</em>. But while I've found a lot of methods that don't work, I've also managed to find the bits that do through trial and error and piece them together into articles you'll find throughout this site.</p>

  <br>

  <p>These guides aren't really aimed at the casual consumer who wants to "lose a few pounds"-they're for those who want to adopt training seamlessly into their lifestyle, achieve elite levels of fitness and <strong>really train to reign</strong>.</p> 
  
  <br>

  <p>Hope you enjoy, and I can't wait to hear the success stories.</p> 

  <br>

  <p>-Chris Levine</p>

</div>