<div class="page-header">
  <h1>Intermittent Fasting</h1>
</div>

<div class="col-xs-12">
  <p>Intermittent fasting has become increasingly popular lately. The common strategy is to fast for 16 hours and consume all calories for the day within an 8 hour feeding window. Typically, people start the feeding window 5-6 hours after waking, or roughly around lunch time.</p>

  <br>

  <p>I used to buy into the "small meal every few hours" plan. I found having to prepare that many meals/snacks, and taking the time to eat that many times throughout the day, extremely annoying and inconvenient. Not to mention, I was always hungry! If I went more than 2-3 hours without eating, I'd start feeling dizzy and weak. But, I was getting nowhere with my diet. I was struggling to get below 2400 calories for the day without feeling insanely hungry so after seeing all the success stories online, I decided to try IF. Now, I don't think I'll ever stop.</p>

  <br>

  <p>I was worried I'd get too hungry skipping breakfast and not eating all morning. Not the case! I realized that initially eating for the day was what kickstarted the process of getting hungry within my body. If I didn't eat in the morning, I didn't feel hungry. I don't get hungry until early afternoon now.</p>

  <br>

  <p>The biggest benefit of intermittent fasting is that it allows you to make fitness a part of your life without having it <em>take over</em> your life. I always make sure I save one decent-sized meal (roughly 800 calories while cutting) for the very end of my feeding window. This allows me to easily accommodate impromptu social functions, family dinners, etc. Your team at work decides to go to happy hour later? Perfect, you have plenty of calories left for a beer and an appetizer. Going to a steakhouse for your dad's birthday? Easy! If I was eating consistently throughout the day, I'd only have 300-400 calories left for the day for these events, making me stick to a side salad and water or pass up the event altogether.</p>

  <br>

  <p>You also get to eat fuller, more satisfying meals. At the time of writing this, I'm finishing off a plate of Texas-style barbecue-WHILE CUTTING. Sure, it's probably roughly 1000 calories-but that leaves me with roughly 1000 calories left for the day. If I had already eaten 600-700 calories today with breakfast and a morning snack, I'd have to skip the barbecue, or eat next to nothing for the rest of the day.</p>

  <br>

  <p><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=benefits+of+intermittent+fasting" target="_blank">There are also a number of health benefits associated with IF</a>!</p>

  <br>

  <p>If you decide to give intermittent fasting a try, start with a 16 hour fasting window and skipping breakfast. Keep in mind the exact window doesn't really matter, as the main purpose of the protocol is to make it easier to limit yourself to low calories. If another sized fasting window works better for you, and you're still hitting your calorie marks, go for it! Some people report being really hungry while fasting for the first week while their body adjusts, so keep that in mind and wait it out. I personally didn't experience this and jumped right into fasting without issues.</p>

  <br>

  <p>During the fast, only stick to plain, black coffee, water and tea. Coffee has actually been shown to blunt hunger so I like to have a couple cups of coffee throughout the morning to push my feeding window as late as possible (just beware that this effect diminishes if you also drink coffee during the feeding window). If you decide to train fasted, you should sip some BCAA powder immediately before your workout (and/or throughout your workout) to preserve muscle.</p>

  <br>

  <p>My current schedule is roughly:</p>

  <p>Break fast around 1pm, 800-900 calories <br>
    Eat a small meal/large snack around 5pm, 300-400 calories <br>
    Eat my remaining calories around 8pm, about 800 calories <br>
    <strong>Total: 1900-2100 calories</strong></p>

  <br>
  
  <p>I find that if I don't eat a good amount of food when I break my fast, it only kicks my hunger into high gear. I also find that filling up with a larger meal at the end of the day makes fasting significantly easier the next morning. But, you are welcome to try dispersing the calories however works for you. That's the key-<em>make fitness fit your lifestyle</em>.</p>

  <br>

  <p>For more information on all things intermittent fasting, check out Martin Berkhan's site at <a href="http://www.leangains.com" target="_blank">www.leangains.com</a>.</p>

</div>