<div class="page-header">
			<h1>Building A Nutrition Plan</h1>
		</div>

		<div class="col-xs-12">
			<h3>Cutting</h3>

			<p>The secret to getting lean is to establish a calorie deficit. Eat less calories than you burn and you will lose weight. Period. It doesn't matter if those calories consist of spinach or <a href="http://www.cnn.com/2010/HEALTH/11/08/twinkie.diet.professor/" target="_blank">twinkies</a>. It is suggested that you consume higher protein and healthy fat on a cut. The higher protein will help preserve muscle mass and lean proteins have been shown to help you feel full. Healthy fats help regulate hormones and, ironically, <a href="http://www.bodybuilding.com/fun/eat-fat-to-burn-fat-a-counterintuitive-approach-to-shredding.html" target="_blank">help you burn fat.</a> Additionally, carbohydrates are the only macronutrient not required by the body (because it can create its own), so it's intuitive to reduce calories from carbs. Here are the starting totals I suggest for a cut:</p>

			<br>

			<p><strong>Calories:</strong> body weight * 11 <br>
				<strong>Protein:</strong> 1.3g per pound of bodyweight <br>
				<strong>Fat:</strong> not much below .5g per pound of bodyweight <br>
				<strong>Carbs:</strong> the rest of your calorie total</p>

			<br>

			<p>So, for a 175 pound male, we have:</p>

			<br>
			
			<p><strong>Calories:</strong> 1925 <br>
				<strong>Protein:</strong> 225g <br>
				<strong>Fat:</strong> about 75g <br>
				<strong>Carbs:</strong> remaining calories</p>

			<br>

			<p>Feel free to play around with your fat and carb totals-some people prefer more fat, some people prefer more carbs. I notice a lot of negative side effects when I go low in fat, so I keep it on the higher side. As long as you're hitting your calorie and protein targets, you'll generally be fine.</p>

			<p>If you prefer to cycle calories or carbohydrates (ie consume more on lifting days, less on off days)-feel free. When on a cut, it's really the weekly calorie deficit that matters-not the daily deficit. The calorie target calculated above should be your average calorie count per day for each week.</p>

			<br>

			<h3>Bulking</h3>

			<p> Bulking <em>does not</em> mean eat everything in sight (also known as the "dirty bulk"). Will you gain mass and strength this way? Absolutely. However, you won't be working towards a desirable physique or putting on lean muscle in a controlled manner, which is really our goal here. You don't need as much protein as on a cut since we're not in danger of losing muscle. I recommend around 1g of protein per pound of bodyweight. I also recommend a very moderate caloric surplus (roughly 10%) on lifting days and then maintenance calories on all off days. If you're really concerned about keeping the fat off, you can eat at a slight deficit one of your off days. Your protein intake should already be keyed in on your maintenance days, so the extra calories on lifting days should come from carbohydrates to help promote recovery and muscle gain. Here are the starting totals I suggest for a bulk:</p>

			<br>

			<p><strong>Calories:</strong> 16 * body weight, 14 * body weight, 11 * body weight (lifting days, maintenance days, deficit days) <br>
				<strong>Protein:</strong> 1g per pound of bodyweight <br>
				<strong>Fat:</strong> not much below .5g per pound of body weight <br>
				<strong>Carbs:</strong> the rest of your calorie total</p>

			<br>

			<p>So, for a 175 pound male:</p>

			<br>

			<p><strong>Calories:</strong> 2800 (lifting days), 2450 (maintenance days)

			<br>
				<strong>Protein:</strong> 175g <br>
				<strong>Fat:</strong> 75g <br>
				<strong>Carbs:</strong> the rest</p>

			<br>

			<h3>Maintenance</h3>

			<br>

			<p><strong>Calories:</strong> 14 * body weight <br>
				<strong>Protein:</strong> 1g per pound of body weight <br>
				<strong>Fat:</strong> not much below .5g per pound of body weight <br>
				<strong>Carbs:</strong> the rest </p>

			<br>

			<p>The 175 pound male example:</p>

			<br>

			<p><strong>Calories:</strong> 2450 <br>
				<strong>Protein:</strong> 175g <br>
				<strong>Fat:</strong> 75g <br>
				<strong>Carbs:</strong> the rest</p>

			<br>

			<p>Keep in mind that no one can come up with an exact set of numbers that works for everyone. These are <em>starting points</em>. The most important part when training, no matter your goal, is to <em>track your progress and make adjustments as you go</em>. Try these numbers for a couple of weeks, monitor your progress, go from there. That's the key!</p>

			<br>

			<h3>Step 2: Food Choices</h3>

			<p><strong>Protein:</strong> poultry (turkey, chicken), fish (cod, tuna, salmon), eggs and egg whites, shrimp, dairy products, nuts and nut butters, lean ground beef, jerky</p>

			<p><strong>Fat:</strong> nuts and nut butters, avocado, egg yolk, fatty fish (salmon), dairy products, oils (olive oil, coconut oil), fatty meats (ground beef, sausages, bacon)</p>

			<p><strong>Carbohydrates:</strong> sweet potatoes, brown rice, beans and lentils, oats, whole grain bread products, fruits, vegetables</p>

			<br>
			
			<h3>Step 3: Supplements</h3>

			<p><strong>Supplements are not at all necessary to build muscle or cut fat. There is not a single supplement that will overpower a crappy diet or training program, no matter what the media tells you.</strong> By definition, supplements are there to simply <em>enhance</em> the efforts you're making in the gym and kitchen. I advise against most supplements in general-they're costly and it's much better to get the vitamins and nutrients from natural food sources. However, there are a few supplements I <em>do</em> recommend. They are:</p>

			<ul>
				<li>Whey protein. When you lift weights, you break your muscle fibers down and put your body into an <a href="http://patch.com/illinois/algonquin/catabolic-vs-anabolic-what-state-is-your-body-in" target="_blank">anabolic state</a>. This creates an elevated sensitivity to protein in your muscles. This effect is higher immediately after you work out and slowly diminishes over time. Whey protein mixed into a protein shake provides a protein source your body can break down and digest quickly (because it's liquid), so it's the fastest way to get protein into your muscles after working out. Therefore, I recommend a whey protein shake immediately post-workout. The only other time to incorporate whey protein shakes into your diet is if you <em>really</em> can't manage to hit your protein target for the day-but first, try harder.</li>

				<li>Fish oil. <a href="http://main.poliquingroup.com/ArticlesMultimedia/Articles/Article/964/Five_Reasons_Fish_Oil_Will_Make_You_Stronger_Leane.aspx" target="_blank">Fish oil has tons of health benefits</a>, including helping you lose fat and build muscle, due to the Omega-3 fatty acids.</li>

				<li>A general daily vitamin. Making sure you get enough vitamins, minerals and micronutrients can be tough with these difficult calorie and macronutrient targets to hit and often gets put on the back burner. A daily vitamin will help balance out your diet.</li>

				<li>A calcium supplement can be useful <em>if</em> you don't get enough dairy in your diet for whatever reason.</li>

				<li>Pre-workout or caffeine if you choose.</li>

				<li>Creatine-5mg per day is all you need. You don't need to load it like many people claim, but doing so will cause it to "kick in" faster. Just know it'll all even out in the end with or without loading.</li>
			</ul>

			<p>If there are other supplements you're interested in trying, feel free to research them on <a href="http://www.examine.com" target="_blank">Examine.com</a>.</p>

		</div>