<div class="page-header">
	<h1>Tracking Progress</h1>
</div>
		
<div class="col-xs-12">
	<p>If you're not tracking progress, you might as well not be training. Tracking progress is very important with both your diet and your lifts. Otherwise, you won't know how or when to make adjustments to keep progressing!</p>

	<h3>Tracking Diet Progress</h3>

	<br>

	<p>The first important part of tracking diet progress is to count calories, no matter what your goals are. If you're not counting calories, you don't know what to attribute your weight or strength trends to. There are countless apps and websites that do this for you at this point-try <a href="http://www.calorieking.com" target="_blank">www.calorieking.com</a>, the My Fitness Pal app or the Spark People app. If you're lazy and get sick of adding up calories day in and day out, take half an hour and make 2-3 meal plans that fit your calorie/macro targets and cycle them over and over.</p>

	<br>

	<p>The second important part of tracking diet progress is to watch your weight. I personally weigh myself daily so I get a better idea of the overall trend of my weight. Weight fluctuates a lot so if you only weigh yourself once per week, you risk having a skewed perception of your weight for that entire week. However, if you stress over your weight a lot, you might find it works better for you to weigh yourself less often. Find a balance you're comfortable with. Just remember to <em>always take the scale readings with a grain of salt</em>. Weight alone is <em>never</em> a good indicator of progress.</p>

	<br>

	<p>The last important part of tracking diet progress is to take measurements. Invest in a simple body measuring tape for $5-10. Andy Morgan does a great job of explaining how and where to measure <a href="http://rippedbody.jp/diet-progress-tracking/" target="_blank">here</a>. If you're on a cut and the scale isn't going down like you want, it could be because you're building muscle! Remember, muscle is heavier than fat. Seeing if your muscles are growing and your stomach is shrinking helps complete the picture of the progress you're making.</p>

	<br>

	<p>Optional-tracking diet adherence, taking monthly photos and tracking other related variables. If you went to the movies one night last week and indulged in some candy and popcorn at the theater, making note of that could help explain fluctuations in weight when you're looking back a week or two later. I tend to remember things like this, though, and don't find this necessary. You can also track how well you're sleeping, stress levels, etc-these can all affect diet progress.</p>

	<br>

	<h3>Tracking Weightlifting Progress</h3>

	<br>

	<p>The obvious one here is to track how many reps you successfully complete of each exercise. This will help you decide when to move up weight, and by how much.</p>

	<br>

	<p>The scale also applies here. You want to make sure you're gaining weight <em>slowly</em> to help ensure that you're gaining muscle, but not fat.</p>

	<br>

	<p>The measuring tape also applies here! Just because you're gaining weight, doesn't mean you're gaining weight in the right places. Make sure your muscle measurements are going up!</p>

</div>