<div class="page-header">
	<h1>Training On Vacation</h1>
</div>
		
<div class="col-xs-12">
	<h3>Maintaining Your Diet</h3>

	<p>There's one key point to remember-<em>if you eat at or below maintenance, you will NOT gain fat</em>. Period.</p>

	<p>Whether you're on a bulk or a cut, I simply suggest shooting for maintenance calories each day you're away so you can pick up right where you left off when you get back. A rough estimate for maintenance calories is 14 * your body weight, and monitor/adjust from there. It will stall progress, yes, but it will allow you to enjoy yourself more and give you more flexible dieting options. The goal here is really to not undo progress.</p>

	<p>Even if you don't normally practice intermittent fasting, I strongly suggest trying it out on vacation. If you're at all like me, your vacation schedule typically goes like this: load up at the continental breakfast at the hotel in the morning, do some sort of touristy morning activity, find a little restaurant to stop at for lunch, touristy afternoon activity, settle down to a big family (/friends) dinner at night and then maybe explore the nightlife. Calories can add up fast here.</p>

	<p>Cutting out breakfast is a really easy way to keep your calorie totals in check while still getting to relax and enjoy those big family dinners and nights out on the town without fear of the calories. I know it's hard to resist all the free food at breakfast-if you really want, you can snag a muffin or some fruit to eat when you break your fast at lunch or as an afternoon snack-but resisting the temptation in the morning will pay off later that night. Feel free to enjoy all the (plain, black) coffee or tea you want, still.</p>

	<p>Let's estimate that you eat something light and protein-filled for lunch, around 700 calories (not even all that light, to be honest!). You can get away with a burrito bowl from Chipotle with double chicken for less than 1000 calories (hold the sour cream and guac, please). Even if you have a snack in the afternoon worth 200-300 calories in the afternoon, you're only at around 1000 calories for the day. That leaves plenty of room for that Italian restaurant your sister saw on the Food Network and the family trip to the gelato shop afterwards.</p>

	<h3>Maintaining Your Muscle</h3>

	<p>If you've been sticking to the big, core compound lifts as I've suggested, you should be packing on some dense muscle. Dense muscle doesn't deteriorate easily. All you really need is to duck down to the hotel gym and lift some weights every 2-3 days-simply plan around your vacation schedule and don't lift 2 days in a row. Focus on the core compound lifts you've structured your routine around and keep up the Reverse Pyramid Training protocol.</p>

	<p>Here's a sample routine I like to use, making sure I hit each muscle group:</p>

	<ul>
		<li>Incline bench, 4-6 reps</li>
		<li>Weighted chin-ups, 4-6 reps</li>
		<li>Squat, 4-6 reps</li>
		<li>Military press, 4-6 reps</li>
		<li>Bicep curls, 6-8 reps</li>
		<li>Tricep extensions, 6-8 reps</li>
	</ul>

	<p>Now, you're usually not going to have the equipment necessary to complete all these exercises at a hotel gym. Keeping a routine like this in mind, we can make some clever exercise substitutions...</p>

	<p><strong>Incline bench:</strong> bench with a Smith machine, dumbbell bench if no barbell is available. Dips (chest variation) are also acceptable if possible. </p>

	<p><strong>Weighted chin-ups:</strong> there probably won't be a dip belt for you to tie around your waist, but try holding a dumbbell between your feet, even if it means going a little lighter than usual. If no bar is available, Smith machine barbell rows, dumbbell rows, or even cable rows and lat pulldowns will work here.</p>

	<p><strong>Squat:</strong> there probably won't be a full-on squat rack. If there's a Smith machine, use that. You can also try one-legged squats while holding dumbbells to add weight. For an added degree of difficulty, try <a href="https://www.youtube.com/watch?v=Ll60EDemwdQ" target="_blank">these dumbbell squats with a bench</a>.</p>

	<p><strong>Military press:</strong> try a seated or standing dumbbell shoulder press if no bar or Smith machine is available.</p>

	<p><strong>Bicep curls:</strong> a standard barbell, cambered bar or dumbbells would all be acceptable here. For dumbbells, I personally prefer seated incline curls.</p>

	<p><strong>Tricep extensions:</strong> I already use a dumbbell for these to begin with, but using a cable/rope for tricep push-downs is also acceptable here if necessary. You can also do one-arm dumbbell skullcrushers on a bench.</p>

	<h3>A Note On Cardio</h3>

	<p>Even though I normally recommend cardio on a cut, and a lot of people prefer adding cardio to their bulking routines to keep fat levels in check, it shouldn't be necessary on vacation. Vacation naturally lends itself to lots of walking-exploring a new city, going to zoos, museums, amusement parks and even bar hopping! I'd much rather make use of this exploration to burn some extra calories than spend an hour of my morning on a treadmill.</p>
</div>