<div class="page-header">
	<h1>Building A Workout Routine Part 3: Rep Ranges</h1>
</div>

<div class="col-xs-12">
	<p>Rep ranges are a highly debated topic in the fitness community. The widely accepted rule of thumb is that 3-6 reps will build strength, 6-15 reps will build hypertrophy (muscle volume) and 15+ will build muscular endurance.</p>

	<p>The first problem with these rules is that it leads people to believe you can't, for example, build strength with higher reps. <em>This is not true!</em> Scientific studies have shown that strength, volume and endurance are <em>all</em> built at all rep ranges. Think of it more as a continuum... for example, don't think that you <em>can't</em> build muscle volume with sets of 5 reps, but rather that sets of 5 reps will probably improve strength more than it will improve muscle volume.</p>

	<p>The second problem with this is that it leads people to believe these ranges have hard boundaries. Again, it's a continuum. For example, if you get to 7-8 reps, you're technically "out of the strength range", but you're still close enough that it should make a good impact on your strength.</p>

	<p>Another thing to consider is that different exercises are better suited to different rep ranges. In general, compound lifts are better suited for the lower rep ranges, while isolation exercises are better suited for higher rep ranges. The main reason for this is that a much larger percentage of your body is working together to support the weight for a compound lift. With an exercise like skullcrushers, all the weight is resting on your elbows and those couple of tendons-using a high enough weight to fail at 4-5 reps is asking for joint or tendon injuries.</p>

	<p>Furthermore, different muscle groups respond better to different rep ranges. Here are some guidelines, borrowed from Greg Nuckols at Strength Theory, on which rep ranges to use when:</p>

	<ul>
		<li>Squats and deadlifts: 3-8</li>
		<li>Rows: 8-15</li>
		<li>Pull ups/chin ups: 5-10</li>
		<li>Barbell pressing: 5-10</li>
		<li>Dumbbell pressing: 8-15</li>
		<li>Unilateral lower boyd work: 8-15</li>
		<li>Isolation and machine exercises: 8+</li>
	</ul>

	<small>You can read his entire article regarding rep ranges <a href="http://strengtheory.com/hypertrophy-range-fact-fiction/" target="_blank">here</a>.</small>

	<p>In the end, as with many things related to fitness and nutrition, <em>everyone's different</em>. You're going to have to experiment a bit with different rep ranges for different exercises and figure out what works best for you. It is also a good idea to work in sets of all rep ranges throughout the week to achieve a good balance.</p>
</div>