<div class="page-header">
	<h1>Building A Workout Routine Part 3: Sets and Reps</h1>
</div>

<div class="col-xs-12">
	<p>In case you missed it, I started this series with <a href="javascript:void(0)" onclick="loadTemplate('workout-routine-1.html')">how to set up your workout split</a> and <a href="javascript:void(0)" onclick="loadTemplate('workout-routine-2.html')">which exercises to choose</a> in parts 1 and 2.</p>

	<p>The last step is to come up with our set/rep scheme. The magical rep range for building strength and muscle is 4-8. This is the range all your core compound lifts should live in. I don't care if you're going for strength, volume or both.</p>

	<p><em>But what about the pump?</em> Going for pump training, usually in the 10-15 rep range, will certainly make your muscles look great temporarily-then it goes away. All you're doing is temporarily filling your muscles with extra blood flow, making them swell up. <a href="http://kinobody.com/workouts-and-exercises/pump-training-vs-strength-training/" target="_blank">Strength training in the 4-8 range, however, builds a foundation of dense muscle that lasts.</a> Remember, <a href="http://www.bodybuilding.com/fun/goulet11.htm" target="_blank">progressive overload</a> is the best way to build muscle and strength.</p>

	<p>For your main heavy compound lifts, stick to the lower end of the spectrum-roughly 4-6 reps. For the more accessory lifts, higher reps should be used. There are a few reasons for this. The first is that I've found these muscles respond better to higher reps (abs, calves, biceps and triceps). The second is that your big compound lifts, which you're doing low reps of, also hit these muscles (benching works triceps, squatting works abs and calves, etc). The third reason is that these accessory lifts are more concentrated, so using heavy weights will put too much strain on your body. For example, when you're squatting, you're using virtually your whole body in some facet to support the weight (ankles, knees, leg muscles, hips, core, upper body). When you're doing dumbbell tricep extensions, the weight is resting on your elbows. Loading up weight is going to put too much stress on the few tendons and ligaments in your elbow, not to mention the join.</p>

	<p>Here are the rep ranges I've found work best:</p>

	<p>Compound lifts (squat, deadlift, presses, chin-ups, rows): 4-6 <br>
	Triceps and biceps: 6-8 <br>
	Calves: 12-16 <br>
	Abs: 10-15 </p>

	<p>Now that we've ironed out our rep ranges, what about sets? Enter <a href="http://www.bodybuilding.com/fun/randy2.htm" target="_blank">reverse pyramid training.</a> Traditional pyramid training has you complete 4-5 sets, starting low and ramping up to your working set weight, usually 80%-100% of your max. Reverse pyramid training has you start with your heaviest set first and then reduce weight from there. What sounds easier, squatting 300 pounds after already squatting 275, 245, 205 and 155, or starting off with squatting 300 pounds?</p>

	<p>That being said, we can't jump into the squat rack and load up the weight-warmups are key for RPT or you risk injury. I usually do 2 sets: one at around 50% of the weight of my first working set, about 5-7 reps, and one at 75-80% of the weight of my first working set, about 3-5 reps. I find this is enough for me, but some people prefer to add a third set. The exact numbers aren't important-<em>just listen to your body</em>. You don't want to wear yourself out before your working sets, but you want to ensure that you sufficiently prepare your muscles for the heavy load of your working sets.</p>

	<p>You only need to follow this warmup protocol for the first exercise that hits each muscle group. For example, on chest day, I do warm up sets for incline bench and that's it-after that, I'm already warm for tricep extensions and flat bench. I recommend resting 2-3 minutes between each warmup set to make sure you don't tire yourself out, but again, listen to your body.</p>

	<p>So now we're warmed up. Our first working set is our max weight at 4-6 reps. <em>Do as many reps as you can for this set.</em> Our goal is to fail in the 4-6 range, but if you hit 6 and can keep going, keep going-just raise the weight for this set next week. This set should wipe you out. Your heart should be racing, your breathing heavy and you should want to collapse. "You can be doing everything perfectly, but you will not go anywhere if you're not willing to experience discomfort on a regular basis," -Martin Berkhan. You should <em>need</em> to take at least three minutes rest after this set. Take all the time you need. If you're cutting (and therefore on a calorie deficit), you should need more like five to ten minutes.</p> 

	<p>For the second set, drop the weight roughly 10% <em>and do exactly one more rep than you did on your first set</em>. Not two, not three, not as many as you can do-just one. There will be some times you'll feel like you can do a couple more, there will be some times you struggle to get that +1. <em>Holding back on the second set is the key to muscle growth</em>. Doing a third set by further reducing the weight would be overkill-at a 20% reduction, you're now doing such a small percentage of your max that all you're doing is stressing out your CNS more.</p>

	<p>Let's put what we've learned from all three parts of this series together into my full workout routine.</p>

	<p><strong>Day 1:</strong></p>
	<p> Weighted chin-ups, 4-6 RPT<br>
		Barbell rows, 4-6 RPT <br>
		Barbell curls, 6-8 RPT <br> 
		Barbell shrugs, 6-8 RPT <br>
		Weighted close grip chin-ups, 1x6-10 </p>

	<p><strong>Day 3:</strong></p>
	<p> Barbell incline bench press, 4-6 RPT <br>
		Dumbbel tricep extensions, 6-8 RPT <br>
		Barbell bench press, 4-6 RPT <br>
		Captain's chair leg raises, 1x10-12 </p>

	<p><strong>Day 5:</strong></p>
	<p> Barbell squat, 4-6 RPT <br> 
		Barbell military press, 4-6 RPT <br>
		Romanian deadlift, 4-6 RPT <br>
		Dumbbell lateral raises, 3x10-15 <br>
		Calf raises, 1x12-16 </p>

	<br>

	<p>There you have it. I make gains on this routine while in a caloric deficit. Imagine what you can accomplish in a caloric surplus!</p>  
</div>