<div class="page-header">
	<h1>Building A Workout Routine Part 2: Choosing Exercises</h1>
</div>

<div class="col-xs-12">
	<p>In case you missed it, catch part 1 where I review how to set up your workout split <a href="javascript:void(0)" onclick="loadTemplate('workout-routine-1.html')">here</a>.</p>

	<p>Now that your workout split is set up, we need to fill it with exercises. Hands down the best exercises that your workouts need to revolve around are presses, squats, deadlifts and pull-ups/chin-ups. We're talking heavy barbell compound lifts here-forget about the reverse-behind-the-back-incline-cable-flyes you saw in a magazine. Each workout should be roughly four heavy lifts, followed by <em>maybe</em> one or two accessory lifts-<strong>that's it</strong>. <a href="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q=why%20girls%20won%27t%20get%20bulky%20lifting" target="_blank">Yes, even if you're a girl</a> (thinking that you could <em>accidentally</em> get ripped and look like a body builder is insulting to the people who pour tons of time and effort into actually doing so).</p>

	<p>Without further ado, here are the best exercises per muscle group:</p>

	<h4>Chest</h4>

	<ul>
		<li>Barbell bench press</li>
		<li>Incline barbell bench press</li>
		<li>Dumbbell bench press</li>
		<li>Incline dumbbell bench press</li>
		<li>Dips (chest variation)</li>
	</ul>

	<h4>Back</h4>

	<ul>
		<li>Deadlift</li>
		<li>Chin-ups</li>
		<li>Pull-ups</li>
		<li>Rows (barbell, T-bar, dumbbell)</li>
	</ul>

	<h4>Legs</h4>

	<ul>
		<li>Squats (quadriceps)</li>
		<li>Single leg squats (quadriceps)</li>
		<li>Leg press (quadriceps)</li>
		<li>Romanian deadlifts (hamstrings)</li>
		<li>Single leg deadlifts (hamstrings)</li>
		<li>Leg curls (hamstrings)</li>
	</ul>

	<h4>Shoulders</h4>

	<ul>
		<li>Barbell military press</li>
		<li>Standing overhead barbell press</li>
		<li>Dumbbell military press</li>
		<li>Dumbbell Arnold press</li>
	</ul>	

	<h4>Biceps</h4>

	<ul>
		<li>Barbell curls</li>
		<li>Chin-ups</li>
		<li>Hammer curls</li>
		<li>Incline dumbbell curls</li>
	</ul>

	<h4>Triceps</h4>

	<ul>
		<li>Dips (tricep variation)</li>
		<li>Dumbbell tricep extensions</li>
		<li>Close-grip bench press</li>
	</ul>	

	<br>

	<p>That's it. There's no magical secret-we're going back to the basics here. Novice or seasoned veteran, weak or strong-these lifts have to be the core of your program. Pick two exercises each for chest, back and legs (one hamstring and one quadricep exercise for legs). Pick one exercise each for shoulders, biceps and triceps. <strong>Stick with the exercises you pick.</strong> You don't want to constantly be changing/cycling the exercises you're doing week to week or you'll have no way to track your progress, or even progress to begin with! Choose your exercises, keep records of the weight you lift each week and slowly add weight to the bar over time.</p>

	<p>In addition, I like to add 1-2 assistance exercises per lifting day to the end of my workout. <em>If you do this, keep it minimal.</em> The ones I add are:</p>

	<br>

	<p>Back/biceps day: barbell shoulder shrugs, close-grip chin-ups</p>
	<p>Chest/triceps day: captain's chair leg raises (abs)</p>
	<p>Legs/shoulders day: dumbbell lateral raises, calf raises</p>	

	<br>

	<p> You'll notice that even my "assistance" exercises are more on the side of "heavy, compound lifts"-just not enough to make them core compound lifts. No cables, no machines, no jumping and twisting-<strong>lift heavy weights</strong>. The one exception to the no machines/cables concept would be if you have injury-related issues to worry about. Then feel free to sub in cable rows, lat pull downs, leg press machines, etc. </p>

	<p>A note on abs: don't overdo it. I do <em>one set</em> of abs per week-that's it. If you spend more than 5 minutes per week on abs, you're overdoing it. Want a six pack? Cut all your body fat away and keep up the core compound lifts (<a href="http://www.bodybuilding.com/fun/core-strength-your-ultimate-guide-to-core-training.html" target="_blank">deadlift, squat and even overhead press all engage your core</a>).</p>

	<p>For abs, calves and traps, if you're content with their current size and strength, you don't have to work them at all-the core compound lifts will take care of maintaining them for you.</p>

	<p>If you've been following along so far, <a href="javascript:void(0)" onclick="loadTemplate('workout-routine-1.html')">I outlined my workout split in part 1. </a> Let's combine that with what we've covered in this post to build out my routine a little more.</p>

	<br>

	<p><strong>Day 1, Back and Biceps</strong> <br />
	Weighted chin-ups <br />
	Barbell rows <br />
	Barbell curls <br />
	Barbell shrugs <br />
	Weighted close-grip chin-ups</p>

	<p><strong>Day 3, Chest and Triceps</strong> <br />
	Incline barbell bench press <br />
	Dumbbell tricep extensions <br />
	Flat barbell bench press <br />
	Captain's chair leg raises</p>

	<p><strong>Day 5, Legs and Shoulders</strong> <br />
	Barbell squat <br />
	Barbell military press <br />
	Romanian deadlift <br />
	Dumbbell lateral raises <br />
	Calf raises </p>

	<br>

	<p>Make these lifts the center of your routine and keep fighting the good fight against <a href="http://www.leangains.com/2011/09/fuckarounditis.html" target="_blank">fuckarounditis</a>.</p>

</div>
