<div class="page-header">
	<h1>Building A Workout Routine Part 2: Choosing Exercises</h1>
</div>

<div class="col-xs-12">
	<p>In case you missed it, catch part 1 where I review how to set up your workout split <a href="javascript:void(0)" onclick="loadTemplate('workout-routine-1.html')">here</a>.</p>

	<p>Now that your workout split is set up, we need to fill it with exercises. Hands down the best exercises that your workouts need to revolve around are presses, squats, deadlifts and pull-ups/chin-ups. We're talking heavy barbell compound lifts here-forget about the reverse-behind-the-back-incline-cable-flyes you saw in a magazine. Each workout should be centered around compound lifts, followed by some accessory/isolation exercises. <a href="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q=why%20girls%20won%27t%20get%20bulky%20lifting" target="_blank">Yes, even if you're a girl</a> (thinking that you could <em>accidentally</em> get ripped and look like a body builder is insulting to the people who pour tons of time and effort into actually doing so).</p>

	<p>Without further ado, here are the best exercises per muscle group:</p>

	<h4>Chest</h4>

	<p>Strength:</p>

	<ul>
		<li>Flat barbell/dumbbell bench press</li>
		<li>Incline barbell/dumbbell bench press</li>
		<li>Decline barbell/dumbbell bench press</li>
		<li>Dips (chest variation)</li>
	</ul>

	<p>The above exercises can also be used for hypertrophy (muscle volume), in addition to:</p>

	<ul>
		<li>Dumbbell flyes (flat or incline bench)</li>
		<li>Cable flyes</li>
		<li>Pec deck</li>
		<li>Dumbbell pullovers</li>
		<li>Machine presses</li>
	</ul>

	<h4>Back</h4>

	<p>Strength:</p>

	<ul>
		<li>Deadlift</li>
		<li>Chin-ups</li>
		<li>Pull-ups</li>
		<li>Rows (barbell, T-bar, dumbbell, cable)</li>
		<li>Pull downs</li>
		<li>Rack pulls</li>
	</ul>

	<p>Hypertrophy:</p>

	<ul>
		<li>Chin ups</li>
		<li>Pull ups</li>
		<li>Dumbbell pullovers</li>
		<li>Rows (barbell, T-bar, dumbbell, cable, machine)</li>
		<li>Pull downs</li>
	</ul>

	<h4>Quadriceps</h4>

	<p>Strength and hypertrophy:</p>

	<ul>
		<li>Squats (and squat variations)</li>
		<li>Leg extensions</li>
		<li>Leg press</li>
		<li>Lunges</li>
	</ul>

	<h4>Hamstrings</h4>

	<p>Strength and hypertrophy:</p>

	<ul>
		<li>Romanian deadlifts</li>
		<li>Single leg deadlifts</li>
		<li>Leg curls</li>
		<li>Straight leg deadlifts</li>
		<li>Hyper extensions</li>
	</ul>

	<h4>Shoulders</h4>

	<p>Strength and hypertrophy:</p>

	<ul>
		<li>Military press (barbell, dumbell, standing, seated)</li>
		<li>Dumbbell Arnold press</li>
		<li>Lateral raises</li>
		<li>Reverse flyes (cable, dumbbell)</li>
		<li>Reverse pec deck</li>
		<li>Face pulls</li>
	</ul>	

	<h4>Biceps</h4>

	<p>Strength and hypertrophy:</p>

	<ul>
		<li>Barbell curls</li>
		<li>Chin-ups</li>
		<li>Hammer/pinwheel curls</li>
		<li>Dumbbell curls</li>
		<li>Reverse curls</li>
		<li>Cable curls (rope, handle, bar)</li>
		<li>Preacher curls</li>
	</ul>

	<h4>Triceps</h4>

	<p>Strength:</p>

	<ul>
		<li>Dips (tricep variation)</li>
		<li>Dumbbell tricep extensions</li>
		<li>Close-grip bench press</li>
		<li>Tricep pushdowns</li>
		<li>Cable overhead extensions</li>
		<li>Dumbbell overhead extensions</li>
		<li>French press</li>
		<li>PJR pullover</li>
	</ul>	

	<p>The above exercises can also be used for hypertrophy (muscle volume), in addition to:</p>
	<ul>
		<li>Skullcrushers</li>
		<li>Tricep kickbacks</li>
	</ul>

	<h4>Calves:</h4>

	<p>Strength and hypertrophy:</p>

	<ul>
		<li>Smith standing raises</li>
		<li>Hack squat standing raises</li>
		<li>Calf raise machine standing raises</li>
		<li>Leg press raises</li>
		<li>Seated raises</li>
	</ul>

	<h4>Abs:</h4>

	<p>Strength and hypertrophy:</p>

	<ul>
		<li>Hanging leg raises</li>
		<li>Captain's chair leg raises</li>
		<li>Cable crunches</li>
		<li>Machine crunches</li>
		<li>Weighted sit ups</li>
	</ul>

	<br>

	<p>That's it. There's no magical secret-we're going back to the basics here. Novice or seasoned veteran, weak or strong-these lifts should be the core of your program. <strong>Stick with the exercises you pick.</strong> You don't want to constantly be changing the exercises you're doing week to week or you'll have no way to track your progress, or even progress to begin with! Choose your exercises, keep records of the weight you lift each week and slowly add weight to the bar over time.</p>

</div>
