<div class="page-header">
	<h1>Building A Workout Routine Part 1: Choosing Your Split</h1>
</div>

<div class="col-xs-12">
	<p>Your "split" refers to how many days per week you lift weights, and what muscles you focus on each of those days.</p>

	<p>If you're a novice lifter, your primary goal should be to build strength, and there are a plethora of programs available on the internet to help you do that. I recommend <a href="http://stronglifts.com/madcow/5x5_Program/Linear_5x5.htm" target="_blank">the 5x5</a> or <a href="http://www.nobsbb.com/starting-strength-workout-routine-program-results/" target="_blank">starting strength</a>. Countless people have had success with these programs. <strong>Don't mess with them-they work.</strong> You'll notice that all the beginner strength routines are basically a few full-body workouts per week. Novice lifters who are lifting small percentages of their maximum potential still can handle this-recovery isn't as intense so their muscles and central nervous systems bounce right back for the next workout. If you're a beginner, stop reading right now, go follow one of these programs and check back here in about a year.</p>

	<p>If you're still reading, you've probably milked all the progress you can out of one of these beginner routines at this point. If you need something more advanced, you'll have to choose an intermediate/advanced program, or design a split. Your split design is driven by how many days per week you'd like to spend in the gym.</p> 

	<p>For bulking, I recommend hitting each muscle group 2-3 times per week. For cutting, I recommend hitting each muscle group 1-2 times per week (if you normally do 3 and want to try to stick with it, go for it-you might feel fine, you might end up needing to tone down the volume a bit). If you are really comfortable with exercise selection, you can come up with a bodypart split that tactfully hits each muscle twice (for example, lots of back exercises hit shoulders as a secondary muscle).</p>

	<p>Here are some of those most popular ways to outline workout splits, grouped by number of days exercising per week.</p>

	<br>

	<h3>3 Day Split</h3>

	<p>If you can only make it to the gym three days per week, one option is an upper/lower split. You would design two workouts, one to hit upper body and one to hit lower body. Week 1 would be upper/lower/upper, week 2 would be lower/upper/lower, and so on, alternating which workout is performed twice.</p>

	<p>An alternative is to do a push (chest, shoulders, triceps)/pull (back, biceps)/legs routine once per week.</p>

	<br>

	<h3>4 Day Split</h3>

	<p>You have a few more options with 4 days per week. I suggest one of the following options:</p>

	<ul>
		<li>An upper/lower split like above, but performing each twice per week-a popular example of this is the <a target="_blank" href="https://www.muscleandstrength.com/workouts/phul-workout">PHUL</a> workout</li>
		<li>A bodypart split, where each day is devoted to one or two body parts. A popular example of this is <a target="_blank" href="https://www.t-nation.com/workouts/531-how-to-build-pure-strength">Wendler's 5/3/1</a></li>
		<li>Either of the 3-day options listed above, plus one extra day to focus on 1-2 muscle groups that need extra work</li>
	</ul> 

	<br>

	<h3>5 Day Split</h3>

	<p>A five day split can look like any of the following:</p>

	<ul>
		<li>Upper/Lower/Push/Pull/Legs-a common example of this is <a target="_blank" href="http://www.simplyshredded.com/mega-feature-layne-norton-training-series-full-powerhypertrophy-routine-updated-2011.html">Layne Norton's PHAT routine</a></li>
		<li>A further divided bodypart split (something like chest/back/arms/shoulders/legs)</li>
		<li>Any of the 4 day options, plus one extra day to focus on 1-2 muscle groups that need work</li>
	</ul>

	<br>

	<h3>6 Day Split</h3>

	<p>A six day split can look like any of the following:</p>

	<ul>
		<li>Upper/lower/upper/lower/upper/lower</li>
		<li>Push/pull/legs/push/pull/legs-a popular example is <a href="http://forum.bodybuilding.com/showthread.php?t=149807833" target="_blank">this PPL routine</a></li>
		<li>Any variation on Push/pull/legs x2, such as Chest+bis/Back+tris/Legs+shoulders (just make sure everything gets hit at least 2x)</li>
		<li>Any of the 4 or 5 day options, with certain muscle groups hit 3 times per week</li>
	</ul>

</div>